
/*TEXT MARKUP*/
.centerText{
    text-align: center;
}


/*INDEX*/
.jumbotron{
    margin: 0px;
}

.indexContent{
    max-width: 90%;
    margin: auto;
    padding: 3rem;
}

.indexIntro{
    width: 80%;
    margin: auto;
    padding: 1rem;
}

.indexCarousel img{
    height: 30rem;
}

.indexCarousel{
    width: 60%;
    margin: auto;
}


/*Nieuws*/
.candyText{
    margin-top: 1rem;
}

.candy_content{
    margin: 0.5rem;
}

.flexItem{
    padding: 0.7rem;
    background-color: lightgrey;
    width: 20%;
    margin: 10px;
}

.flexContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

/*Nieuwsartikel*/
.artikelSection{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.artikelContent{
    width: 80%;
    margin: auto;
}

.imgNieuws{height: 30rem}

/*Meedoen*/
.meedoenSection{
    width: 70%;
    margin: auto;
    padding-top: 2rem;
}

/*Tickets*/
.ticketBody{
    background-color:  #dc4e5b;
    margin: 0;
}
#ticketContainer{
    max-width: 45rem;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.ticketForm{
    background-color:  #dc4e5b;
    color: white;
    width: 60%;
    margin: auto;
    padding: 2rem;
}

.ticketContainer{
    background-color: #dc4e5b;
}


a:visited{
    color: grey;
}

/*Team*/
.teamContainer{
    width: 100%;
    margin: auto;
    padding: 3rem;
}

.flex-container {
    display: flex;
    margin: 0.5rem;
}
.flex-container img{
    width: 25%;
}

/*Voorstellingen*/
.content{
    margin: auto;
}

.voorstellingContent{
    width: 60%;
    margin: auto;
    padding: 2rem;
}

.voorstellingContainer{
    margin-bottom: 2rem;
}

/*Navbar*/
Nav img{
    margin: 1rem;
}

/*FOOTER*/
.footer {
    background: #dc3545;
    color: white;
    padding: 2rem;
}

footer a:visited{
    color: white;
}

.footer .links ul {
    list-style-type: none;
}
.footer .links li a {
    color: white;
    transition: color .2s;
}
.footer .links li a:hover {
    text-decoration: none;
    color: lightgrey;
}
.footer .about-company i {
    font-size: 25px;
}
.footer .about-company a {
    color: white;
    transition: color .2s;
}
.footer .about-company a:hover {
    color: darkgrey;
}
.footer .location i {
    font-size: 18px;
}
.footer .copyright p {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.pt-4, .py-4 {
    padding-top: 0rem!important;
}

.mt-5, .my-5 {
    margin-top: 0rem!important;
}
/*FOOTER END*/

/*MEDIA QUERIES*/
/* On screens that are 1400px or less */
@media screen and (max-width: 1400px) {
    .flexItem{
        width: 30%;
    }
    .indexCarousel{
        width: 75%;
        margin: auto;
    }
}
/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
body{
    background-color: green;
}

    .indexContent{
        max-width: 100%;
        padding: 0;
    }

    .indexIntro{
        width: 90%;
        padding: 0;
    }

    .indexContent{
        max-width: 90%;
    }

    .indexCarousel{
        width: 100%;
        margin: auto;
    }

    .flexItem{
        width: 45%;
        padding: 0.3rem;
    }

    .teamContainer{
        padding: 0;
    }

    .ticketForm{
        padding: 0;
        width: 85%;
    }

    #vrijwilliger{
        padding-bottom: 2rem;
    }

}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    body{
        background-color: yellow;
    }
    .indexCarousel img{
        max-height: 15rem;
    }

    .imgNieuws{
        height: auto;
    }

    .indexContent{
        max-width: 100%;
        padding: 0;
    }

    .indexIntro{
        width: 90%;
        padding: 0;
    }

    .indexContent{
        max-width: 90%;
    }

    .flexItem{
        width: 90%;
    }

    .teamContainer{
        padding: 0;
    }

    .ticketForm{
        padding: 0;
        width: 85%;
    }

    #vrijwilliger{
        padding-bottom: 2rem;
    }

    .voorstellingContent{
        width: 95%;
        margin: auto;
        padding: 2rem;
    }

    .headerTitel{
        font-size: 2rem;
    }

    .event-list {
        display: inline;
    }

    .meedoenSection {
        width: 95%;
    }

}



